<a href="https://colab.research.google.com/github/Tarun-kumar-1998/Authentication.simpleLoginCode/blob/main/NumPy_Coding_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

### 1. Chessboard Pattern

Implement the `chessboard_pattern()` function, which creates an `n x n` 2D array filled with **`1s`** in a **chessboard** pattern. 
* Array starts with value `1`, i.e. `array[0,0]` should be `1`.

![checker_board_image.png]()

**Argument**:
**`n`**
  * It represents the number of rows and the number of columns in a 2D numpy array
  * A positive integer (>= 2)

**Returns**:
* A 2D numpy array of integers which is filled with **`1s`** and **`0s`** in chessboard pattern.

In [37]:
def chessboard_pattern(n):
   mat = np.ones([n,n], int)
   mat[0::2, 1::2] = 0
   mat[1::2, 0::2] = 0
   return mat

In [40]:
#SAMPLE TEST CASE
n = 15
array = chessboard_pattern(n)
print(array)

[[1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]
 [0 1 0 1 0 1 0 1 0 1 0 1 0 1 0]
 [1 0 1 0 1 0 1 0 1 0 1 0 1 0 1]]

**Expected Output**:
```
[[1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]]
 ```

### 2. Y Pattern

Implement the `Y_pattern()` function, which creates an `n x n` 2D array filled with `**1s**` in a **Y** pattern. 

![y_pattern_image.png]()

**Argument**: **`n`** 
  * It represents the number of rows and the number of columns in a 2D numpy array
  * An odd integer (>= 3)

**Returns**:
* A 2D numpy array of integers which is filled with **`1s`** and **`0s`** in the Y pattern.

In [72]:
def Y_pattern(n):
   mat = np.zeros([n, n], int)
   for i in range(n):
       mat[i, n-1-i] = 1
   for j in range(int(n/2)):
     mat[j, j] = 1

   return mat

In [74]:
#SAMPLE TEST CASE
n = 12
array = Y_pattern(n)
print(array)

[[1 0 0 0 0 0 0 0 0 0 0 1]
 [0 1 0 0 0 0 0 0 0 0 1 0]
 [0 0 1 0 0 0 0 0 0 1 0 0]
 [0 0 0 1 0 0 0 0 1 0 0 0]
 [0 0 0 0 1 0 0 1 0 0 0 0]
 [0 0 0 0 0 1 1 0 0 0 0 0]
 [0 0 0 0 0 1 0 0 0 0 0 0]
 [0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 1 0 0 0 0 0 0 0 0 0]
 [0 1 0 0 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 0 0 0 0]]

**Expected Output**:
```
[[1 0 0 0 1]
 [0 1 0 1 0]
 [0 0 1 0 0]
 [0 1 0 0 0]
 [1 0 0 0 0]]
```

### 3. T Pattern

Implement the `T_pattern()` function, which creates a `num_rows x num_cols` 2D array with ones filled in a **T** pattern. 

![T_pattern_image.png]()

**Arguments**:

* **`num_rows`** 
  * It represents the number of rows in the 2D numpy array
  * An integer (>= 3)

* **`num_cols`** 
  * It represents the number of columns in the 2D numpy array
  * An odd integer (>= 3)

**Returns**:
* A 2D numpy array of integers which is filled with **`1s`** and **`0s`** in the T pattern.

In [89]:
def T_pattern(num_rows, num_cols):
   mat = np.zeros([num_rows, num_cols], int)
   mat[0] = 1
   mat[0:, int(num_cols/2)] = 1
   return mat

In [92]:
# SAMPLE TEST CASE
num_rows = 19
num_cols = 17
array = T_pattern(num_rows, num_cols)
print(array)

8
[[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]]

 **Expected Output**:
```
[[1 1 1 1 1]
 [0 0 1 0 0]
 [0 0 1 0 0]
 [0 0 1 0 0]
 [0 0 1 0 0]]
```

### 4. Closed Pattern

Implement the `closed_pattern()` function, which creates a `num_rows x num_cols` 2D array with ones filled in a **Closed** pattern. 

![closed_pattern_image.png]()

**Arguments**:

* **`num_rows`** 
  * It represents number of rows in a 2D numpy array
  * An integer (>= 3)

* **`num_cols`** 
  * It represents number of columns in a 2D numpy array
  * An integer (>= 3)

**Returns**:
* A 2D numpy array of integers which is filled with **`1s`** and **`0s`**.

In [113]:
def closed_pattern(num_rows, num_cols):
  mat = np.zeros([num_rows, num_cols], int)
  mat[0] = 1 
  mat[0:, 0::num_cols-1] = 1
  mat[num_rows-1] = 1
  return mat

In [114]:
#SAMPLE TEST CASE
num_rows = 9
num_cols = 12
array = closed_pattern(num_rows, num_cols)
print(array)

[[1 1 1 1 1 1 1 1 1 1 1 1]
 [1 0 0 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 0 0 1]
 [1 0 0 0 0 0 0 0 0 0 0 1]
 [1 1 1 1 1 1 1 1 1 1 1 1]]

 **Expected Output**:
```
[[1 1 1 1 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 0 0 0 1]
 [1 1 1 1 1]]
```

### 5. Plus Pattern

Implement the `plus_pattern()` function, which creates a `num_rows x num_cols` 2D array with ones filled in a **Plus** pattern. 

![plus_pattern_image.png]()

**Arguments**:
* **`n`** 
  * It represents number of rows and number of columns in a 2D numpy array
  * An odd integer (>= 3)

**Returns**:
* A 2D numpy array of integers which is filled with **`1s`** and **`0s`**.

In [117]:
def plus_pattern(n):
  mat = np.zeros([n,n], int)
  mat[int(n/2)] = 1
  mat[0::, int(n/2)] = 1
  return mat

In [118]:
#SAMPLE TEST CASE
n = 7
array = plus_pattern(n)
print(array)

[[0 0 0 1 0 0 0]
 [0 0 0 1 0 0 0]
 [0 0 0 1 0 0 0]
 [1 1 1 1 1 1 1]
 [0 0 0 1 0 0 0]
 [0 0 0 1 0 0 0]
 [0 0 0 1 0 0 0]]

 **Expected Output**:
```
[[0 0 1 0 0]
 [0 0 1 0 0]
 [1 1 1 1 1]
 [0 0 1 0 0]
 [0 0 1 0 0]]
```

### 6. Standardization

Implement the `standardize()` function, which subtracts the mean of the each column from all the elements of that column in the array, and then divides it by standard deviation of that column. i.e,

$$\frac{X - mean(X)}{std(X)}$$ 

$$\text{ where $\textit{'X'}$ is a column of the array.}$$


**Arguments**:
* **`array_2D`** : A 2D numpy array of floats


**Returns**:
* A 2D numpy array of floats

**Hint**
* Use `np.mean()` to find the mean and `np.std()` to find the standard deviation.
* Make sure to use the appropriate axis argument.

In [192]:
def standardize(array_2D):
  mat = array_2D
  for i in range(len(array_2D[0])):
    mean = np.mean(array_2D[0:, i])
    std = np.std(array_2D[0:, i])
    for j in range(len(array_2D)):
      mat [j][i] = (array_2D[j][i] - mean)/std
  return mat

In [194]:
#SAMPLE TEST CASE
array_2D = np.array([[2.0, 4.1, -7.1],
                    [1.3, 5.4, 2.2],
                    [-3.2, -1.3, 6.1],
                    [1.2, 3.4, 5.2]])

result = standardize(array_2D)
result = np.round(result, 3)
print(result)

[[ 0.814  0.475 -1.665]
 [ 0.474  0.989  0.115]
 [-1.713 -1.661  0.861]
 [ 0.425  0.198  0.689]]

**Expected Output**:
```
[[ 0.814  0.475 -1.665]
 [ 0.474  0.989  0.115]
 [-1.713 -1.661  0.861]
 [ 0.425  0.198  0.689]]
```

### 7. Normalisation

Implement the `normalise()` function, which subtracts the mean of each column from all the elements of that column in the array and then divides each element of a column with the difference of maximum and minimum elements of that column. i.e,

$$\frac{X - mean(X)}{max(X) - min(X)}$$

$$\text{where $\textit{X}$ is a column of the array}$$

**Arguments**:
* **`array_2D`** : A 2D numpy array of floats.


**Returns**:
* A 2D numpy array of floats.

**Hint**:
* Use `np.mean()` to find mean, `np.min()` to find minimum value and `np.max()` to find maximum value of a column.
* Make sure to use the appropriate axis argument.

In [197]:
def normalise(array_2D):
  for i in range(len(array_2D[0])):
    mean = np.mean(array_2D[0:, i])
    min = np.min(array_2D[0:, i])
    max = np.max(array_2D[0:, i])
    for j in range(len(array_2D)):
      array_2D[j][i] = (array_2D[j][i]-mean)/(max-min)
  return array_2D

In [198]:
#SAMPLE TEST CASE
array_2D = np.array([[2.0, 4.1, -7.1],
                    [1.3, 5.4, 2.2],
                    [-3.2, -1.3, 6.1],
                    [1.2, 3.4, 5.2]])

result = normalise(array_2D)
result = np.round(result, 3)
print(result)

[[ 0.322  0.179 -0.659]
 [ 0.188  0.373  0.045]
 [-0.678 -0.627  0.341]
 [ 0.168  0.075  0.273]]

**Expected Output**:
```
[[ 0.322  0.179 -0.659]
 [ 0.188  0.373  0.045]
 [-0.678 -0.627  0.341]
 [ 0.168  0.075  0.273]]
```

In [207]:
def minkowski_distance_between_two_images(image_1, image_2, n):
  a = 0
  for i in range(len(image_1)):
    for j in range(len(image_1)):
      for j in range(len(image_2)):

In [208]:
#SAMPLE TEST CASE
image_1 = np.array([[[ 44,  26, 138],
                    [ 62, 115, 246],
                    [227,  82,   4],
                    [235, 182, 107]],

                  [[ 48,  94, 151],
                    [ 70,  50,  30],
                    [224, 175, 108],
                    [ 14,  25, 175]],

                  [[243, 133,  73],
                    [201, 204, 149],
                    [122,  60,   6],
                    [244, 113, 202]],

                  [[116,  27, 195],
                    [ 42, 105,  16],
                    [182, 252, 145],
                    [198, 131,  95]]])

image_2 = np.array([[[ 31,  87, 192],
                    [ 69, 240,  64],
                    [244,  71, 189],
                    [ 21,  92,  78]],

                    [[ 59, 206, 133],
                    [188, 174,   8],
                    [148, 220, 254],
                    [181, 173,  94]],

                    [[187,  26, 249],
                    [ 32, 241, 122],
                    [221, 229, 208],
                    [252,  89, 246]],

                    [[ 24, 131,  60],
                    [131,  70, 164],
                    [ 60, 128,  14],
                    [178,  79,  37]]])
n = 3


minkowski_distance = minkowski_distance_between_two_images(image_1, image_2, n)
minkowski_distance = np.round(minkowski_distance, 3)

print(minkowski_distance)

IndexError: ignored

**Expected Output**:
```
208.569
```

## [DON'T EDIT] Submission Evaluation Utilities

### Scan Utils [DON'T EDIT]

In [ ]:
#@title
def scan_2D_int_numpy_array():
    num_rows = int(input('num_of_rows:'))
    array_2D = []
    for i in range(0, num_rows):
        row_i = [int(col) for col in input().split()]
        array_2D.append(row_i)
    array_2D = np.array(array_2D)
    return array_2D

def scan_3D_int_numpy_array():
    num_2d_arrays = int(input('num_of_2d_arrays:'))
    num_rows = int(input('num_of_rows:'))
    array_3D = []
    for j in range(0, num_2d_arrays):
      array_2D = []
      for i in range(0, num_rows):
          row_i = [int(col) for col in input().split()]
          array_2D.append(row_i)
      array_2D = np.array(array_2D)
    array_3D.append(array_2D)
    
    array_3D = np.array(array_3D)
    return array_3D

def scan_2D_float_numpy_array():
    num_rows = int(input())
    array_2D = []
    for i in range(0, num_rows):
        row_i = [float(col) for col in input().split()]
        array_2D.append(row_i)
    array_2D = np.array(array_2D)
    return array_2D

### Evaluation Utils [DON'T EDIT]

In [ ]:
#@title
if __name__ == '__main__':
    n = int(input())
    array_2d = chessboard_pattern(n)
    for row in array_2d:
        print(*row)

In [ ]:
#@title
if __name__ == '__main__':
    n = int(input())
    array_2d = Y_pattern(n)
    for row in array_2d:
        print(*row)

In [ ]:
#@title
if __name__ == '__main__':
    num_rows = int(input())
    num_cols = int(input())
    array_2d = T_pattern(num_rows, num_cols)
    for row in array_2d:
        print(*row)

In [ ]:
#@title
if __name__ == '__main__':
    num_rows = int(input())
    num_cols = int(input())
    array_2d = closed_pattern(num_rows, num_cols)
    for row in array_2d:
        print(*row)

In [ ]:
#@title
if __name__ == '__main__':
    n = int(input())
    array_2d = plus_pattern(n)
    for row in array_2d:
        print(*row)

In [ ]:
#@title
if __name__ == '__main__':
    array_2D = scan_2D_float_numpy_array()

    result = standardize(array_2D)
    result = np.round(result, 3)
    for row in result:
        print (*row)

In [ ]:
#@title
if __name__ == '__main__':
    array_2D = scan_2D_float_numpy_array()

    result = normalise(array_2D)
    result = np.round(result, 3)
    for row in result:
        print (*row)

In [ ]:
#@title
if __name__ == '__main__':
    image_1 = scan_3D_int_numpy_array()
    image_2 = scan_3D_int_numpy_array()
    n = int(input('n: '))
    
    minkowski_distance = minkowski_distance_between_two_images(image_1, image_2, n)
    minkowski_distance = np.round(minkowski_distance, 3)
    print(minkowski_distance)